#hepHeader{
    background: linear-gradient(to right,#e2bdff,#c37aff 80%, #e2bdff);
    height: 120px;
    border-bottom: 2px solid #6600bb;
}

#hepLogo{
    margin: 10px 10px;
    float: left;
    width: 100px;
}

#hepLinkContainer{
    float: left;
    margin: 40px 40px;
}

.hepHeaderLink{
    font-size: 25px;
    margin: 0 60px;
    transition: 0.2s;
}

.hepHeaderLink:hover{
    text-decoration: none !important;
    color: #fff;
    font-size: 27px;
    margin: 0 57px;
    transition: 0.2s;
}

#hepWalletButton{
    float: right;
    margin: 40px 40px;
    width: 200px;
    height: 50px;
    border-width: 3px;
    border-style: dashed;
    border-color: #6600bb;
}

#hepMusicPlayer {
    position: fixed; 
    bottom: 0;
    display: block;
    justify-content: space-between;
    align-items:center;
    background-color: #e2bdff;
    color: rgb(0, 0, 0) !important; 
  }
  